<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=ABeeZee&display=swap" rel="stylesheet">
    <link href="../assets/style.css" rel="stylesheet">
    <title>Index</title>
</head>

<body>
    <header>
        <% include partials/navbar.ejs %>
    </header>
    <main>
        <h1>Index Sayfası</h1>
        <h2>Lorem ipsum dolor sit amet.</h2>
        <img src="../assets/ejs.jpeg" alt="ejs_resmi" width=200 height=100>
    </main>
</body>

</html>