<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        body {
            text-align: center;
        }
    </style>
</head>

<body>
    <h1>Yapılacaklar Listesi</h1>
    <form action="/" method="POST">
        <input type="text" name="gorev" required>
        <input type="submit" value="Ekle">
    </form>
    <ul>
        <% data.forEach((item) => {%>
            <li>
                <%=item.gorev%>
            </li>
            <% })  %>
    </ul>
</body>

</html>